[user]
	name = Adam Parkin 
	email = pzelnip@gmail.com 
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[diff]
	renames = copies

[diff "spaceman-diff"]
  command = /usr/local/bin/spaceman-diff

[core]
	editor = vim
	pager = less -r
	excludesfile = /Users/aparkin/.gitignore_global

[alias]
    # view a simplified log
    headlines = log --oneline --no-merges

    # delete local and remote copies of a branch -- USE WITH CARE
    nullify = !sh -c 'git push $0 :$1 && git branch -d $1'

    accept-theirs = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --theirs -- $files; git add -u $files; }; f"

	co = checkout

    b = branch
    s = status
    d = diff
    dt = difftool

    # edit all conflicted files in vim, taken from https://coderwall.com/p/j7kxsa
    edit-conflicts = "!f() { git status -s | grep ^UU | awk '{print $2}' ; }; mvim `f`"

    # cause git to forget or remember a tracked file, allowing changes to skip version control
    # see: http://stackoverflow.com/questions/13630849/git-difference-between-assume-unchanged-and-skip-worktree/13631525#13631525
    amnesia = !sh -c 'git update-index --skip-worktree $0'
    recall = !sh -c 'git update-index --no-skip-worktree $0'
    forgetfulness = !git ls-files -v | grep ^S
    

[github]
	user = pzelnip


